In [2]:
import pandas as pd

data = pd.read_csv('philippine_file.csv')
data.head()

,educations-end_date,educations-field_of_study,educations-school-name,positions-is-current,num-connections,industry-specialization
0,31/12/2013,16,NEW NORTHERN MINDANAO COLLEGES,0,0,5
1,31/12/2012,16,CENTRAL PHILIPPINE UNIVERSITY,1,3,6
2,31/12/2006,0,INTERNATIONAL CORRESPONDENCE SCHOOLS,0,11,16
3,31/12/1987,6,UNIVERSITY OF THE PHILIPPINES,0,36,4
4,31/12/1994,0,POLYTECHNIC UNIVERSITY OF THE PHILIPPINES,1,0,0

In [ ]:
from sklearn.model_selection import train_test_split