## Prediction of possibility of working based on years after graduation, field of study, number of connections (in LinkedIn), work specialization, school

#### Learning Algorithm: Gaussian Naive Bayes

In [1]:
import pandas as pd

data = pd.read_csv('philippine_file.csv')
data.head()

,educations-end_date,educations-field_of_study,num-connections,industry-specialization,educations-school-name_asnumeric,positions_is_current
0,1,16,0,5,25,0
1,2,16,3,6,25,1
2,27,6,36,4,24,0
3,20,0,0,0,14,1
4,12,16,5,5,24,0

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data[['educations-field_of_study', 'num-connections', 'industry-specialization', 'educations-school-name_asnumeric']], data[['positions_is_current']], test_size=0.3, random_state=427)

y_train = y_train.values.flatten() # Just some trivial data formatting..
y_test = y_test.values.flatten()

from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()

gnb.fit(X_train, y_train)

y_score = gnb.predict(X_test)
y_score

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0])

In [15]:
gnb.predict_proba(X_test)

array([[ 0.74958041,  0.25041959],
       [ 0.63715682,  0.36284318],
       [ 0.66054519,  0.33945481],
       ...,
       [ 0.63202801,  0.36797199],
       [ 0.64228451,  0.35771549],
       [ 0.83868444,  0.16131556]])

In [16]:
from sklearn import datasets, metrics
classification = ["True", "False"]
print(metrics.classification_report(y_test, y_score, target_names=classification, digits=4))

             precision    recall  f1-score   support

       True     0.7944    1.0000    0.8854       479
      False     0.0000    0.0000    0.0000       124

avg / total     0.6310    0.7944    0.7033       603

/Users/zenitharnejo/anaconda/lib/python3.6/site-packages/sklearn/metrics/classification.py:1113: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [17]:
pred = gnb.predict(X_test)
print(metrics.confusion_matrix(pred, y_test))

[[479 124]
 [  0   0]]

## Prediction of work specialization based on field of study, school, year after graduation, educations-end_date

#### Learning Algorithm: Multinomial Naive Bayes

In [38]:
import pandas as pd

data = pd.read_csv('philippine_file.csv')
data.head()

,educations-end_date,educations-field_of_study,num-connections,industry-specialization,educations-school-name_asnumeric,positions_is_current
0,1,16,0,5,25,0
1,2,16,3,6,25,1
2,27,6,36,4,24,0
3,20,0,0,0,14,1
4,12,16,5,5,24,0

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data[['educations-field_of_study', 'educations-school-name_asnumeric', 'educations-end_date']], data[['industry-specialization']], test_size=0.3, random_state=427)

y_train = y_train.values.flatten() # Just some trivial data formatting..
y_test = y_test.values.flatten()
X_train = X_train.values.flatten() # Just some trivial data formatting..
X_test = X_test.values.flatten()

print("X_train ", X_train.shape)
print("y_train ", y_train.shape)

X_train  (4212,)
y_train  (1404,)

In [45]:
# Importing packages necessary for building the model
from sklearn.feature_extraction.text import CountVectorizer #converts the content to vector
from sklearn.naive_bayes import MultinomialNB 
from sklearn.pipeline import Pipeline #vectorize then multinomialNB; as in a pipelined steps

text_clf = Pipeline([('vect_tfid', CountVectorizer()),
                     ('clf', MultinomialNB())]) #alpha automatically signals laplace correction, include alpha as parameter

text_clf = text_clf.fit(X_train, y_train) #fit the model to the training set

In [ ]:
#text_clf is the generated model
y_predicted = text_clf.predict(X_test) #get predicted classes
y_predicted

## Support Vector Machines (SVM)

In [65]:
import numpy as np
from sklearn import svm
import math
import pandas as pd
from sklearn import datasets, metrics

filedata = 'philippine_file.csv'
data = pd.read_csv(filedata)
data.columns.values

n = len(data)
num_train = int(0.70*n)

data = data.sample(frac=1).reset_index(drop=True)
classes = data["positions_is_current"]

y = data["positions_is_current"][:num_train]
y_test = data["positions_is_current"][num_train:]
del data["positions_is_current"]
X = data[:num_train]
X_test = data[num_train:]

model = svm.SVC(kernel='linear',C=15).fit(X,y)
#model = svm.SVC(kernel='poly',C=1, degree=2, probability=True).fit(X,y)
#model = svm.SVC(kernel='rbf',C=100, gamma=4).fit(X,y)

model.fit(X, y)
pred = model.predict(X_test)
print(metrics.confusion_matrix(pred, y_test))
print(model.score(X_test,y_test))
trial = data.head(1)
print(model.predict(trial))
print("test input(class): ", classes[1])
print("test input(data): ")
data.head(1)
len(data)

[[463 140]
 [  0   0]]
0.767827529022
[0]
test input(class):  1
test input(data):

2007

In [64]:
import pandas as pd
from sklearn import preprocessing

filedata = 'philippine_file.csv'
data = pd.read_csv(filedata)

del data["num-connections"]
del data["positions_is_current"]
del data["educations-end_date"]

n = len(data)
num_train = int(0.60*n)

data = data.sample(frac=1).reset_index(drop=True)
classes = data["industry-specialization"]

y = data["industry-specialization"][:num_train]
y_test = data["industry-specialization"][num_train:]
del data["industry-specialization"]

x = data.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
data = pd.DataFrame(x_scaled)

X = data[:num_train]
X_test = data[num_train:]

model = svm.SVC(kernel='linear',C=100).fit(X,y)
#model = svm.SVC(kernel='poly',C=200, degree=2, probability=True).fit(X,y)
#model = svm.SVC(kernel='rbf',C=100, gamma=5, ).fit(X,y)

pred = model.predict(X_test)
print(metrics.confusion_matrix(pred, y_test))
print(model.score(X_test,y_test))
trial = data.head(1)
print(model.predict(trial))
print("test input(class): ", classes[1])

[[  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0]
 [ 45   9  14   9 117  13  11  17  18  11  12   4   0   3   4  14  68]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0]
 [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0]
 [ 57  22  15   6  63  29   6  31  17   6  19   6   4   1  16  15 121]]
0.296388542964
[4]
test input(class):  16

/Users/zenitharnejo/anaconda/lib/python3.6/site-packages/sklearn/utils/validation.py:429: DataConversionWarning: Data with input dtype int64 was converted to float64 by MinMaxScaler.
  warnings.warn(msg, _DataConversionWarning)

## Artificial Neural Network

In [66]:
import pandas as pd

data = pd.read_csv('philippine_file.csv')
data

,educations-end_date,educations-field_of_study,num-connections,industry-specialization,educations-school-name_asnumeric,positions_is_current
0,1,16,0,5,25,0
1,2,16,3,6,25,1
2,27,6,36,4,24,0
3,20,0,0,0,14,1
4,12,16,5,5,24,0
5,6,16,6,5,8,1
6,5,4,0,4,24,0
7,8,4,8,4,25,0
8,7,2,6,4,25,0
9,20,16,1,1,25,1
10,13,2,31,13,23,0
11,36,16,1,4,25,1
12,11,1,0,5,25,0
13,2,10,2,10,25,1
14,11,16,1,7,3,0
15,11,6,28,4,1,0
16,23,0,31,16,3,1
17,12,10,217,16,16,0
18,3,16,27,0,24,0
19,10,16,10,0,25,0
20,12,2,96,4,8,0
21,5,6,5,4,25,1
22,22,16,6,8,25,1
23,5,4,20,4,10,0
24,0,10,0,9,25,0
25,5,4,20,4,25,0
26,6,16,0,4,25,0
27,19,16,76,8,0,1
28,2,16,10,5,25,0
29,1,16,0,5,25,0
...,...,...,...,...,...,...
1977,4,1,113,4,3,0
1978,11,4,303,4,17,0
1979,6,10,115,10,25,1
1980,9,16,397,0,25,0
1981,7,16,19,0,14,1
1982,2,4,3,4,1,1
1983,11,4,221,4,25,0
1984,14,4,500,4,8,0
1985,23,16,3,7,21,1
1986,16,6,500,16,0,0
1987,5,16,33,1,15,1
1988,14,16,500,1,25,0
1989,6,16,40,5,25,1
1990,6,5,1,7,25,0
1991,27,16,8,15,25,0
1992,12,4,2,16,1,0
1993,3,16,2,16,21,0
1994,14,4,2,2,25,0
1995,4,10,9,10,8,1
1996,18,16,0,5,25,1
1997,7,1,11,2,25,0
1998,8,14,57,14,3,0
1999,12,16,19,16,25,1
2000,22,16,9,0,20,0
2001,18,16,43,0,25,0
2002,3,16,1,4,25,0
2003,9,16,9,4,25,0
2004,19,16,0,0,5,0
2005,6,14,52,14,3,1
2006,5,4,16,4,12,1

In [67]:
del data["num-connections"]
del data["positions_is_current"]

x = data.drop('industry-specialization',axis=1) #axis=1 tells the translator that a column will be dropped, 0 if row
y = data['industry-specialization']
y

0        5
1        6
2        4
3        0
4        5
5        5
6        4
7        4
8        4
9        1
10      13
11       4
12       5
13      10
14       7
15       4
16      16
17      16
18       0
19       0
20       4
21       4
22       8
23       4
24       9
25       4
26       4
27       8
28       5
29       5
        ..
1977     4
1978     4
1979    10
1980     0
1981     0
1982     4
1983     4
1984     4
1985     7
1986    16
1987     1
1988     1
1989     5
1990     7
1991    15
1992    16
1993    16
1994     2
1995    10
1996     5
1997     2
1998    14
1999    16
2000     0
2001     0
2002     4
2003     4
2004     0
2005    14
2006     4
Name: industry-specialization, Length: 2007, dtype: int64

In [68]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x,y)

In [69]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScale#StandardScaler()
scaler.fit(x_train)

NameError: name 'MinMaxScale' is not defined